/* .colors{
    color1: #FF4E00;
    color2: #F75C03;
    color3: #067BC2;
    color4: #A7DBFB;
    color5: #6FB8FF;
    color6: #61A2FC;
    color7: #E5C3BA;
    color8: #B5A09D;
    color9: #E5C3BA;
    color10: #f8f8f9;
    color10: #FE5F55;
    color11: #F1C3B6;
    color12: #EC3B37;
    color13: #FFC203;
    color13: #FF9C25;
    color14: #009999;
    color15: #F15025;
    color16: #8EA604;
    color17: #5CC8FF;
    color18: #8376E2;
    color19: #663DD7;
    color20: #572AD3;
    color21: #39FF14;
    color: #6AA2E6;
    color: #E93145;
    color: #DCD6F7;
    color: #46B5F7;
    color: #1F2041;
    color: #284674;
    color: #5179B4;
    color: #002342;
    color: #09406C;
    color:  #237CB9;
    color: #23B2E9

    color: #8376E2 - cool blue

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:400,600|Raleway:300,400|Work+Sans:200" rel="stylesheet">

    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;

   box-shadow:  0 4px 6px 0 rgba(32,33,36,0.28);
   FF206E
   FF9A47
   4ACB4D
   FFC72D
   #009999
   FFAC81
   EC4E20
   1. 0eff14
}
 */

 :root{
     --color-pry: #333;
     --color-pry-light: #4d4d4d;
     --coll: orangered;
     --col-test: rgb(252, 37, 33);
     --home-subhead: #4a4a4ade;
     --bckg: rgb(245, 248, 250);
     --col-txt: rgb(33, 37, 41);
     --col-pry-green: #0eff14;
     --col-pry-red: rgb(236, 59, 55);
     --btn-text-black: rgb(35,35,35);
     --btn-border-green: rgba(5, 230, 5, 0.767);
     --col-light-white: #f7f7f7;
     /* to call, var(--color-pry) */
 }

 *, *::before, *::after{
     box-sizing: border-box;
 }
body{
    font-family: 'Lato', sans-serif;
    /* height: 100%; */
    width: 100%;
    background-color: #f9f9f9;
    color: #4e4e4e;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
textarea{
    resize: none;
}
/* hoome navbar */
.navbar-default{
    background-color: transparent;
    color: var(--col-txt);
    border-bottom: none;
    padding: 1.5rem;
    height: 7rem;
    /* position: fixed; */
}
.navbar-default .navbar-brand{
    color: #0eff14;
    font-size: 22px;
    transition: color .4s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active{
    color: #f7f7f7;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #f7f7f7;
    font-size: 15px;
    font-weight: 300;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-text:hover{
    color: #0eff14;
}

/* general navbar */
 #gen_nav{
    background-color: #fff;
    color: var(--col-pry-red);
    border-bottom: none;
    padding: 1rem;
    height: 7rem;
    border-bottom: 1px solid #f9f9f9;
    box-shadow: 0rem 0rem 4px 1px rgba(183, 182, 182, 0.47);
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25); */
} 
#gen_nav .navbar-nav>li>a, #gen_nav .navbar-text {
    color: #4e4e4e;
    font-size: 15px;
    font-weight: 500;
}
#gen_nav .navbar-brand{
    color: var(--col-pry-red);
    font-size: 22px;
    transition: color .4s;
}
.card .card_pic1{
    background-image: url(../images/proj-thumb/startup.jpg);
}
.card .card_pic2{
    background-image: url(../images/proj-thumb/community.jpg);
}
.card .card_pic3{
    background-image: url(../images/proj-thumb/communityservice.jpg);
}
h2.home_subhead{
    padding-bottom: 1.7rem;
    color: var(--home-subhead);
    /* color: #f5f5f5 */
}
.create_proj{
    background: #fff;
    padding: 2rem 3rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
    border-radius: 4px;
    border: 1px solid #f9f9f9;
    box-shadow: 0rem 0rem 4px 1px rgba(183, 182, 182, 0.47);
}

/* create form stylings */
.proj_form_contents h3{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 2rem;
    color: #4d4d4d;
    /* width: 100%; */
}
.proj_form_contents{
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.create_input {
    display: block;
    width: 60%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2;
    color: #5d5d5d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
#amount_inp{
    width: 50%;
    /* height: 6rem; */
    padding: 6px 12px;
}
.create_textarea{
    width: 60%;
    /* height: 40px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2;
    color: #5d5d5d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.075);
}
.next_btn{
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}
 .next_btn button{
    padding: .7rem 4.5rem;
    background: transparent;
    border: 1px solid var(--col-pry-red);
    color: var(--col-pry-red);
    font-size: 1.6rem;
    border-radius: 4px;
    transition: all .4s;
} 
.next_btn button:hover{
    background: var(--col-pry-red);
    color: #f7f7f7;
    text-decoration: none;
    box-shadow: 0rem 0rem 2rem 3px rgba(243, 55, 25, 0.4);
}
.next_btn button:focus{
    outline: none;
}
.help_text{
    margin-top: .7rem;
    padding: .7rem 1.5rem;
    background: #b8eaf1c2;
    color: #333;
    border-radius: 4px;
}
.final_submit{
    margin-top: 2.5rem;
}
.final_submit .submit_btn{
    padding: .7rem 3.5rem;
    background: transparent;
    border: 1px solid var(--col-pry-red);
    color: var(--col-pry-red);
    font-size: 1.6rem;
    border-radius: 4px;
    transition: all .4s;
}
.final_submit .submit_btn:hover{
    background-image: linear-gradient(to right, var(--col-pry-red), tomato);
    color: #f7f7f7;
    text-decoration: none;
    box-shadow: 0rem 0rem 2rem 3px rgba(243, 55, 25, 0.4);
}
.final_submit .submit_btn:active{
    transform: translateY(3px);
    background-image: linear-gradient(to right, var(--col-pry-red), tomato);
    color: #f7f7f7;
    text-decoration: none;
    box-shadow: 0rem 0rem 2rem 3px rgba(243, 55, 25, 0.4);
}
.final_submit .submit_btn:focus{
    outline: none;
}
.validation{
    margin-top: 1.5rem;
    margin-bottom: .7rem;
    padding: 1rem 1.5rem;
    background: #f0d0d0;
    color: #bb4947;
    border-radius: 4px;
    flex-basis: 100%;
    /* width: 60%; */
}
/* .alert-danger {
    color: #bb4947;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 10px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
} */








